
  nav {
    background: #fff;
   
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border:none;
    height: 44px;
  }
  
  .tabs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
  }
  

  .tabs:hover {
    cursor: pointer; 
  }

  .main__animatedCards {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    flex-grow: 1;
    user-select: none;
  }
  


  .ul__animatedCards,
  .li__animatedCards {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: black;
    font-size: 20px;
    
  }
  
  .ul__animatedCards {
    display: flex;
    width: 100%;
  }
  
  .li__animatedCards {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px 15px;
    position: relative;
    background: white;
    cursor: pointer;
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
  }

  .li__animatedCards:hover {
    background: rgba(0, 255, 255, 0.467);
  }
  
  .underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 0px;
    background: var(--accent);
  }
  
  li.selected {
    background: cyan;
  }
  
  li button {
    width: 20px;
    height: 20px;
    border: 0;
    background: black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
  }
  
  .add-item {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    align-self: center;
  }
  
  .add-item:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
  