body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
    --cyan-300: #22dddd;
    --cyan-400: #67E8F9;
    --rgba-cyan-400: rgba(103, 232, 249, 0.5);
    --gray-800: #111827;
    --cyan-dark: var(--cyan-400);
  


    --background: var(--red);
    --background-gray: var(--gray-800);
    --accent: var(--white);

  
  
  }
  
 
 
  /* 
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--cyan-400);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--background);
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  

  

  
  .section__scroll {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
   
  }
  
  .section__scroll > div {
    width: 80%;
    height: 50%;
    position: relative;
    max-height: 90vh;
    margin: 30px;    
  }
  
  .img__scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
   
  }
  

  
.dark{
  --cyan-dark: var(var(--white));
}
 */
  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--cyan-dark);
    bottom: 0px;
  }
  
/* dark progress */

/* 
.h2__scroll {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--cyan-400);
  filter: drop-shadow(0 0 10px rgb(103, 232, 249));
  color: var(--accent);
  left: calc(50% - 65vw + 50%);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.2;
  position: absolute;
}




@media only screen and (min-width: 600px) {
  .h2__scroll {
    left: calc(50% - 56vw + 50%);
    font-size: 56px;
   
  }
} */